/** -- BACKGROUND COLORS -- **/
$primary-color: #009EBF;
$secondary-color: #135379;
$tertiary-color: #166C9F;


/** -- TYPOGRAPHY COLORS -- **/
$black: #000;
$white: #fff;
$very-light-grey: #eee;
$grey: #999;
$dark-grey: #404040;
$blue-grey: #3d4652;
