/** -- TRANSITIONS -- **/
@mixin transition-00 {
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
}
@mixin transition-025 {
  -webkit-transition: all 0.25s ease-in-out;
     -moz-transition: all 0.25s ease-in-out;
      -ms-transition: all 0.25s ease-in-out;
       -o-transition: all 0.25s ease-in-out;
          transition: all 0.25s ease-in-out;
}
@mixin transition-03 {
  -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
       -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}


/** -- FLEX PROPERTIES -- **/
@mixin flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@mixin flex-wrap {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
@mixin flex-nowrap {
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}
@mixin flex-row {
  -webkit-box-direction: normal;
     -webkit-box-orient: horizontal;

      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
}
@mixin flex-column {
  -webkit-flex-direction: column;
   -webkit-box-direction: column;
      -webkit-box-orient: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
@mixin flex-start {
  -webkit-justify-content: flex-start;
         -webkit-box-pack: start;
            -ms-flex-pack: start;
          justify-content: flex-start;
}
@mixin flex-space-between {
  -webkit-justify-content: space-between;
         -webkit-box-pack: justify;
            -ms-flex-pack: justify;
          justify-content: space-between;
}
@mixin flex-justify-center {
  -webkit-justify-content: center;
         -webkit-box-pack: center;
            -ms-flex-pack: center;
          justify-content: center;
}
@mixin flex-align-center {
  -webkit-align-items: center;
    -webkit-box-align: center;
       -ms-flex-align: center;
          align-items: center;
}
@mixin flex-align-self-start {
  -ms-flex-item-align: start;
   -webkit-align-self: flex-start;
           align-self: flex-start;
}
@mixin flex-align-self-center {
  -ms-flex-item-align: center;
   -webkit-align-self: center;
           align-self: center;
}
@mixin flex-align-self-end {
  -ms-flex-item-align: end;
   -webkit-align-self: flex-end;
           align-self: flex-end;
}

/** -- TRANSFORM PROPERTIES -- **/
@mixin transform($transforms) {
  -webkit-transform: $transforms;
     -moz-transform: $transforms;
      -ms-transform: $transforms;
       -o-transform: $transforms;
          transform: $transforms;
}
@mixin rotate($deg) {
  @include transform(rotate(#{$deg}deg));
}
@mixin scale($scale) {
	 @include transform(scale($scale));
}
@mixin translate($x, $y) {
   @include transform(translate($x, $y));
}
@mixin skew($x, $y) {
   @include transform(skew(#{$x}deg, #{$y}deg));
}

/** -- ANIMATION PROPERTIES -- **/
@mixin fadein {
  -webkit-animation: fadein 2s;
     -moz-animation: fadein 2s;
      -ms-animation: fadein 2s;
       -o-animation: fadein 2s;
          animation: fadein 2s;
}
@mixin animation-fadeInOutDown {
  -webkit-animation-name: fadeInOutDown;
     -moz-animation-name: fadeInOutDown;
      -ms-animation-name: fadeInOutDown;
       -o-animation-name: fadeInOutDown;
          animation-name: fadeInOutDown;

  -webkit-animation-iteration-count: infinite;
     -moz-animation-iteration-count: infinite;
      -ms-animation-iteration-count: infinite;
       -o-animation-iteration-count: infinite;
          animation-iteration-count: infinite;

  -webkit-animation-duration: 1.2s;
     -moz-animation-duration: 1.2s;
      -ms-animation-duration: 1.2s;
       -o-animation-duration: 1.2s;
          animation-duration: 1.2s;

  -webkit-animation-timing-function: ease-in-out;
     -moz-animation-timing-function: ease-in-out;
      -ms-animation-timing-function: ease-in-out;
       -o-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
