/** -- HEADING FONT -- **/
$heading-font: 'Cabin', sans-serif;

@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  src: local('Cabin Regular'), local('Cabin-Regular'), url('../fonts/cabin/cabin-regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 500;
  src: local('Cabin Medium'), local('Cabin-Medium'), url('../fonts/cabin/cabin-medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 600;
  src: local('Cabin SemiBold'), local('Cabin-SemiBold'), url('../fonts/cabin/cabin-semi-bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 700;
  src: local('Cabin Bold'), local('Cabin-Bold'), url('../fonts/cabin/cabin-bold.ttf') format('truetype');
}

/** -- BODY FONT -- **/
$body-font: 'Alegreya Sans', sans-serif;

@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Alegreya Sans Light'), local('AlegreyaSans-Light'), url('../fonts/alegreya-sans/alegreya-sans-light.ttf') format('truetype');
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Alegreya Sans'), local('AlegreyaSans-Regular'), url('../fonts/alegreya-sans/alegreya-sans-regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 500;
  src: local('Alegreya Sans Medium'), local('AlegreyaSans-Medium'), url('../fonts/alegreya-sans/alegreya-sans-medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Alegreya Sans Bold'), local('AlegreyaSans-Bold'), url('../fonts/alegreya-sans/alegreya-sans-bold.ttf') format('truetype');
}
