main.site-main {
  background: $white;
  padding: 60px 0;

  .flex-container {
    @include flex-nowrap;
  }

  ul.list,
  ol.number-list {
    margin-left: 2.14286em;
    margin-bottom: 20px;

    li {
      position: relative;
      margin-bottom: 10px;
    }
  }

  ul.list li svg {
    position: absolute;
    top: .14286em;
    left: -2.14286em;
    width: 2.14286em;
    height: 16px;
    fill: $tertiary-color;
  }

  ol.number-list li span {
    position: absolute;
    top: .14286em;
    left: -2.14286em;
    width: 2.14286em;
    color: $tertiary-color;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    line-height: 1;
  }

  blockquote {
    color: $grey;
    font-style: italic;
    line-height: 1.5;
    margin: 15px 0 5px 0;

    span {
      height: 30px;
      font-family: 'Georgia', sans-serif;
      font-size: 4rem;
      color: $tertiary-color;
      margin-right: 10px;
      line-height: 1;
      float: left;
    }
  }

  cite {
    display: block;
    font-style: normal;
    margin-bottom: 20px;
  }
}

article.site-article {

  a {
    color: $primary-color;
    text-decoration: underline;
  }

  .info-box {
    padding: 10px 15px;
    margin-bottom: 25px;
    border: 2px solid $primary-color;
    background: rgba($primary-color, .3);
  }
}

.credit-cards {

  svg {
    display: inline-block;
    width: 40px;
    height: 27.2px;
    vertical-align: bottom;
  }

  span {
    display: inline-block;
    margin-left: 5px;
    vertical-align: bottom;
  }
}

aside.site-sidebar {

  h4 {
    margin-top: 0;
  }

  li {
    position: relative;
    font-style: normal;
    border-top: 1px solid rgba($white, .1);
    list-style: none;
    margin-bottom: 10px;

    &:first-child {
      border-top: none;
    }
  }

  .box {
    padding: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e0e0e0;
    -webkit-box-shadow: 0 1px 2px 0 rgba($black, .1);
            box-shadow: 0 1px 2px 0 rgba($black, .1);

    &:last-child {
      margin-bottom: 0;
    }

    a {
      color: #392226;
      font-weight: 400;
      text-decoration: underline;
    }
  }

  .testimonial-box {
    background: #f3f3f3;

    h4 {
      color: #a9a9a9;
    }
  }

  .question-box {
    background: #f0f0d8;

    h4 {
      color: #929262;
    }

    p {
      margin-bottom: 0;
    }
  }

  .find-box {
    background: #CAF2F6;

    h4 {
      color: #45bdc8;
    }

    a {
      color: #027878;
    }
  }

  .area-box {
    background: #2E286E;

    h4 {
      color: $primary-color;
    }

    p {
      color: $white;
      font-weight: 500;
      margin-bottom: 0;
    }
  }

  .appointment-box {
    background: #edf5c8;

    h4 {
      color: #9ebb1a;
    }

    p {
      margin: 0;
    }

    a {
      color: $primary-color;
    }
  }

  .twitter-feed {
    background: #63cdf1;

    p {
      color: #392226;

      &:last-child {
        margin: 0;
      }

      a {
        color: $blue-grey;
      }
    }

    svg {
      width: 20px;
      height: 20px;
      margin: 0 5px 5px 0;
      fill: $white;
      vertical-align: middle;
    }
  }
}
