section.site-banner {
  position: relative;
  height: calc(100vh - 81px);
  color: $white;
  margin-top: 81px;
  overflow: hidden;
  z-index: 1;

  &::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: url('../images/overlay.png');
    opacity: 0.8;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($secondary-color, .7);
    z-index: -1;
  }

  &.home {
    background: url('../images/banners/home-banner.jpg') no-repeat;
    background-size: cover;
    background-position: center;
  }

  .flex-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    @include flex-justify-center;
  }

  p {
    font-size: 1rem;
    color: $white;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.breadcrumbs {
  position: relative;
  margin-top: 15px;

  a {
    display: inline-block;
    color: $white;
    font-weight: 500;
    cursor: pointer;
  }

  a:first-child::before,
  span:first-child::before {
    display: none;
  }

  a::before,
  span::before {
    content: "/";
    margin: 0 5px;
  }

  a {
    color: rgba($white, .5);
  }
}

.btn-block {
  margin-top: 10px;

  a {
    display: inline-block;
    font-weight: 500;
    padding: 8px 25px;
    border: 2px solid $secondary-color;
    letter-spacing: 1px;

    &:first-child {
      background: $secondary-color;
      color: $white;
      margin-right: 10px;
    }

    &:last-child {
      color: $white;
      border: 2px solid $white;
    }
  }
}
