/*------------------------------------*\
    GENERAL-STYLES
\*------------------------------------*/

*,
*:before,
*:after {
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
}

body {
  font-family: $body-font;
  font-size: 0.8rem;
  font-weight: 400;
  background: $white;
  color: $dark-grey;
  line-height: 1.3;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  @include fadein;
}

body ::-moz-selection {
  background: $primary-color;
  color: $white;
}

body ::selection {
  background: $primary-color;
  color: $white;
}

header {
  position: relative;
  z-index: 999;
}

main {
  position: relative;
  z-index: 3;
}

ol, ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1 {
  position: relative;
  width: auto;
  font-family: $heading-font;
  font-weight: 400;
  margin: 0 0 10px 0;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

h2 {
  position: relative;
  width: auto;
  font-family: $heading-font;
  color: $secondary-color;
  font-size: 1.4rem;
  font-weight: 400;
  margin: 0 0 10px 0;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

h3 {
  position: relative;
  width: auto;
  font-family: $heading-font;
  color: $primary-color;
  font-size: 1.1rem;
  font-weight: 700;
  margin: 0 0 0 0;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

h4 {
  position: relative;
  width: auto;
  font-family: $heading-font;
  color: $tertiary-color;
  font-size: 1rem;
  font-weight: 700;
  margin: 15px 0 10px 0;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

h5 {
  position: relative;
  width: auto;
  font-family: $heading-font;
  color: $blue-grey;
  font-weight: 700;
  margin: 0 0 10px 0;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

p {
  margin-bottom: 20px;
  line-height: 1.5;
}

a {
  text-decoration: none;
  @include transition-03;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

#map {
  width: 100%;
  height: 300px;
  margin-bottom: 50px;
}

.map-address {

  li {
    font-size: 0.95rem;
    font-weight: 400;
    margin-bottom: 3px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.flex-container {
  @include flex;
  @include flex-column;
  @include flex-wrap;
}

.col {
  min-height: 1px;
  padding-right: 20px;
  padding-left: 20px;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.subtitle {
  display: block;
  color: $primary-color;
  font-weight: 500;
}

.hide {
  display: none;
}





/*------------------------------------*\
    SKIP-TO-NAV & SKIP-TO-CONTENT
\*------------------------------------*/

.skip-link {
  position: absolute;
  top: 2.25rem;
  left: 2.25rem;
  float: left;
  text-align: left;
  color: $dark-grey;
  font-weight: 600;
  @include transition-00;
}

.visually-hidden {
  border: 0;
  /* clip: rect(0 0 0 0); */
  height: .0625rem;
  margin: -.0625rem;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: .0625rem;

  &:active,
  &:focus {
    position: static;
    clip: auto;
    width: auto;
    height: auto;
    margin: 0;
    margin-top: 10px;
    margin-left: 20px;
    overflow: visible;
  }
}





/*------------------------------------*\
    SCROLL DOWN BTN
\*------------------------------------*/

.scroll-down {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  text-align: center;
  z-index: 18;
  @include animation-fadeInOutDown;

  a svg {
    width: 100%;
    height: 100%;
    fill: $white;
  }
}





/*------------------------------------*\
    # SCROLL-TOP-STYLES
\*------------------------------------*/

.scroll-to-top-btn {
  display: block;
  position: fixed;
  right: -60px;
  bottom: 30px;
  width: 40px;
  height: 38px;
  background: $primary-color url('../images/scroll-top.svg') no-repeat;
  background-size: 60%;
  background-position: center center;
  text-align: center;
  z-index: 900;
  opacity: 0;
  -webkit-box-shadow: 3px 4px 9px 0 rgba(0,0,0,.15);
          box-shadow: 3px 4px 9px 0 rgba(0,0,0,.15);
  -webkit-transition: right 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity 0.3s, color 0.3s;
     -moz-transition: right 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity 0.3s, color 0.3s;
       -o-transition: right 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity 0.3s, color 0.3s;
          transition: right 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity 0.3s, color 0.3s;

  &.visible {
    right: 15px;
    opacity: 1;
  }
}
