.contact-details {
  margin: 30px 0;
}

.contact-box {
  background: #f9f9f9;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 1px 2px 0 rgba($black, .1);
          box-shadow: 0 1px 2px 0 rgba($black, .1)
}

.contact-detail {
  padding: 22px;

  svg {
    display: block;
    width: 40px;
    height: 40px;
    fill: $blue-grey;
    text-align: center;
    margin: 0 auto;
  }

  h4 {
    color: $blue-grey;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;

    &::after {
      content: '';
      display: block;
      width: 40px;
      height: 2px;
      background: $primary-color;
      margin: 12px auto;
    }
  }

  p {
    color: $dark-grey;
    font-size: 1rem;
    text-align: center;
    margin-top: 0;
  }
}

.contact-address {
  text-align: center;

  li {
    color: $dark-grey;
    font-size: 1rem;
  }
}

.contact-form {
  background: $white;
  margin-bottom: 30px;
}

.form-control {
  position: relative;
  margin-bottom: 24px;
  padding-left: 30px;
}

.form-control > svg {
  position: absolute;
  display: block;
  top: 13px;
  left: 0;
  width: 25px;
  height: 25px;
  fill: #999;
}

.form-control input,
.form-control textarea {
  display: block;
  width: 100%;
  height: 48px;
  font-family: $body-font;
  color: $dark-grey;
  font-size: 1.05rem;
  font-weight: 500;
  line-height: 1.5;
  padding: 0 1px;
  margin-bottom: 24px;
  text-transform: none;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid rgba(64, 64, 64, 0.25);
  background: transparent;
  -webkit-appearance: none;
  @include transition-03;
}

.form-control textarea {
  height: auto;
  padding: 12px 1px;
}

.form-control input:focus,
.form-control textarea:focus {
  border-color: $blue-grey;
  outline: none;
}

.form-control input::-webkit-input-placeholder,
.form-control textarea::-webkit-input-placeholder {
  color: $dark-grey;
}

.contact-form button {
  display: inline-block;
  background: $primary-color;
  color: $white;
  font-size: 1rem;
  font-weight: 400;
  padding: 15px 30px;
  margin-top: 20px;
  text-transform: capitalize;
  outline: none;
  border: none;
  -webkit-appearance: none;
  -webkit-box-shadow: none;
          box-shadow: none;

  @include transition-025;
}

.contact-form .form-message {
  color: #404040;
  padding: 10px 15px;
  margin-top: 15px;
}

.success {
  background: #B9FFBC;
}

.error {
  background: #FFB9B9;
}

.g-recaptcha {
  margin-top: 40px;
  margin-bottom: 15px;
}
