footer.site-footer {
  background: #172334;
  color: $white;
  font-size: 0.9rem;
  padding: 30px 0;
}

.footer-item {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  h4 {
    color: $white;
  }

  a {
    color: $primary-color;
  }
}

.quick-links ul {
  margin-bottom: 20px;
}

.quick-links li {
  margin-bottom: 5px;

  &:last-child {
    margin-bottom: 0;
  }

  svg {
    display: inline-block;
    width: 19px;
    height: 19px;
    fill: $white;
    vertical-align: middle;

    + a {
      text-decoration: underline;
    }
  }

  a {
    font-weight: 400;
  }
}

.footer-social {

  .social-item {
    display: inline-block;
    position: relative;
    width: 32px;
    height: 32px;
    font-size: 1rem;
    color: $white;
    text-align: center;
    line-height: 32px;
    z-index: 3;

    svg {
      display: inline-block;
      width: 16px;
      height: 100%;
      fill: $white;
      vertical-align: middle;
    }
  }

  .icon-facebook::before,
  .icon-twitter::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: -1;
  }

  .icon-facebook::before {
    background: #507cbe;
  }

  .icon-twitter::before {
    background: #63cdf1;
  }
}

.bottom-footer {
  padding-top: 25px;
  margin-top: 20px;
  border-top: 1px solid $primary-color;

  p {
    margin: 0;
  }

  a {
    color: $primary-color;
  }
}
