section.insurance-logos {
  background: $white;
  padding: 30px 15px;

  p {
    color: $grey;
  }

  .flex-container {
    @include flex-row;
    @include flex-space-between;
    @include flex-align-center;
  }

  .insurance-img {
    margin-bottom: 20px;

    img {
      opacity: 0.7;
      -webkit-filter: grayscale(1);
              filter: grayscale(1);
    }

    &:nth-of-type(1) {
      width: 60%;
    }
    &:nth-of-type(2) {
      width: 35%;
    }
    &:nth-of-type(3) {
      width: 100%;
    }
    &:nth-of-type(4) {
      width: 65%;
    }
    &:nth-of-type(5) {
      width: 30%;
    }
    &:nth-of-type(6) {
      width: 35%;
    }
    &:nth-of-type(7) {
      width: 60%;
    }
    &:nth-of-type(8) {
      width: 100%;
    }
    &:nth-of-type(9) {
      width: 60%;
      margin-bottom: 0;
    }
    &:nth-of-type(10) {
      width: 35%;
      margin-bottom: 0;
    }
  }
}
