/* - Fsde In - */
@-webkit-keyframes fadein {
  from {
      opacity: 0;
  }

  to {
      opacity: 1;
  }
}
@-moz-keyframes fadein {
  from {
      opacity: 0;
  }

  to {
      opacity: 1;
  }
}
@-ms-keyframes fadein {
  from {
      opacity: 0;
  }

  to {
      opacity: 1;
  }
}
@-o-keyframes fadein {
  from {
      opacity: 0;
  }

  to {
      opacity: 1;
  }
}
@keyframes fadein {
  from {
      opacity: 0;
  }

  to {
      opacity: 1;
  }
}


/* - Fade In Out Down - */
@-webkit-keyframes fadeInOutDown {
  0% {
    opacity: 0;

    -webkit-transform: translate3d(0, -20%, 0);
       -moz-transform: translate3d(0, -20%, 0);
        -ms-transform: translate3d(0, -20%, 0);
         -o-transform: translate3d(0, -20%, 0);
            transform: translate3d(0, -20%, 0);
  }
  50% {
      opacity: 1
  }
  100% {
    opacity: 0;

    -webkit-transform: translate3d(0, 20%, 0);
       -moz-transform: translate3d(0, 20%, 0);
        -ms-transform: translate3d(0, 20%, 0);
         -o-transform: translate3d(0, 20%, 0);
            transform: translate3d(0, 20%, 0);
  }
}
@-moz-keyframes fadeInOutDown {
  0% {
    opacity: 0;

    -webkit-transform: translate3d(0, -20%, 0);
       -moz-transform: translate3d(0, -20%, 0);
        -ms-transform: translate3d(0, -20%, 0);
         -o-transform: translate3d(0, -20%, 0);
            transform: translate3d(0, -20%, 0);
  }
  50% {
      opacity: 1
  }
  100% {
    opacity: 0;

    -webkit-transform: translate3d(0, 20%, 0);
       -moz-transform: translate3d(0, 20%, 0);
        -ms-transform: translate3d(0, 20%, 0);
         -o-transform: translate3d(0, 20%, 0);
            transform: translate3d(0, 20%, 0);
  }
}
@-ms-keyframes fadeInOutDown {
  0% {
    opacity: 0;

    -webkit-transform: translate3d(0, -20%, 0);
       -moz-transform: translate3d(0, -20%, 0);
        -ms-transform: translate3d(0, -20%, 0);
         -o-transform: translate3d(0, -20%, 0);
            transform: translate3d(0, -20%, 0);
  }
  50% {
      opacity: 1
  }
  100% {
    opacity: 0;

    -webkit-transform: translate3d(0, 20%, 0);
       -moz-transform: translate3d(0, 20%, 0);
        -ms-transform: translate3d(0, 20%, 0);
         -o-transform: translate3d(0, 20%, 0);
            transform: translate3d(0, 20%, 0);
  }
}
@-o-keyframes fadeInOutDown {
  0% {
    opacity: 0;

    -webkit-transform: translate3d(0, -20%, 0);
       -moz-transform: translate3d(0, -20%, 0);
        -ms-transform: translate3d(0, -20%, 0);
         -o-transform: translate3d(0, -20%, 0);
            transform: translate3d(0, -20%, 0);
  }
  50% {
      opacity: 1
  }
  100% {
    opacity: 0;

    -webkit-transform: translate3d(0, 20%, 0);
       -moz-transform: translate3d(0, 20%, 0);
        -ms-transform: translate3d(0, 20%, 0);
         -o-transform: translate3d(0, 20%, 0);
            transform: translate3d(0, 20%, 0);
  }
}
@keyframes fadeInOutDown {
  0% {
    opacity: 0;

    -webkit-transform: translate3d(0, -20%, 0);
       -moz-transform: translate3d(0, -20%, 0);
        -ms-transform: translate3d(0, -20%, 0);
         -o-transform: translate3d(0, -20%, 0);
            transform: translate3d(0, -20%, 0);
  }
  50% {
    opacity: 1
  }
  100% {
    opacity: 0;

    -webkit-transform: translate3d(0, 20%, 0);
       -moz-transform: translate3d(0, 20%, 0);
        -ms-transform: translate3d(0, 20%, 0);
         -o-transform: translate3d(0, 20%, 0);
            transform: translate3d(0, 20%, 0);
  }
}
