/* Large Screen Phones */
@media (min-width: 400px) {
  h4 {
    font-size: 1.2rem;
  }

  .main-header a.logo {
    font-size: 1.3rem;

    img {
      max-width: 70px;
    }
  }

  nav.site-nav a {
    font-size: 1.2rem;
    font-weight: 400;
  }

  section.site-banner {
    height: 91vh;
    height: calc(100vh - 101px);
    margin-top: 101px;

    h1 {
      font-size: 2.3rem;
    }

    p {
      font-size: 1.2rem;
    }
  }

  .btn-block a {
    font-size: 1.3rem;
  }

  section.insurance-logos {

    .insurance-img {

      &:nth-of-type(1) {
        width: 30%;
      }

      &:nth-of-type(2) {
        width: 15%;
      }

      &:nth-of-type(3) {
        width: 50%;
      }

      &:nth-of-type(4) {
          width: 40%;
      }

      &:nth-of-type(5) {
          width: 20%;
      }

      &:nth-of-type(6) {
          width: 35%;
      }

      &:nth-of-type(7) {
          width: 55%;
      }

      &:nth-of-type(8) {
          width: 40%;
      }

      &:nth-of-type(9) {
          width: 50%;
      }

      &:nth-of-type(10) {
          width: 30%;
      }
    }
  }

  footer.site-footer {
    font-size: 1.05rem;

    .flex-container {
      @include flex-row;
    }
  }

  .footer-item {
    width: 59%;

    &:first-child {
      width: 38%;
    }

    &:last-child {
      flex-grow: 1;
    }
  }

  .quick-links li,
  .quick-links li a {
    font-size: 1rem;
  }
}

/* Small Screen Tabelts */
@media (min-width: 600px) {
  section.insurance-logos {

    .insurance-img {

      &:nth-of-type(1) {
        width: 20%;
      }

      &:nth-of-type(2) {
        width: 10%;
      }

      &:nth-of-type(3) {
        width: 40%;
      }

      &:nth-of-type(4) {
        width: 25%;
      }

      &:nth-of-type(5) {
        width: 15%;
      }

      &:nth-of-type(6) {
        width: 25%;
      }

      &:nth-of-type(7) {
        width: 30%;
      }

      &:nth-of-type(8) {
        width: 25%;
      }

      &:nth-of-type(9) {
        width: 20%;
      }

      &:nth-of-type(10) {
        width: 15%;
      }
    }
  }


  footer.site-footer {

    .flex-container {
      @include flex-space-between;
    }
  }

  .footer-item,
  .footer-item:first-child {
    width: 49%;
  }

  .quick-links li {
    margin-bottom: 10px;
  }

  .quick-links li,
  .quick-links li a {
    font-size: 1.05rem;
  }
}

/* Small Screen Tabelts */
@media (min-width: 768px) {
  body {
    font-size: 0.9rem;
  }

  #map {
    height: 350px;
  }

  .container {
    width: 750px;
  }

  .img-left {
    float: left;
    border: 1px solid #ddd;
    margin-right: 10px;
  }

  header.site-header {
    background: $white;

    -webkit-box-shadow: 3px 4px 1px 0px rgba(0,0,0,0.15);
            box-shadow: 3px 4px 1px 0px rgba(0,0,0,0.15);
  }

  .main-header {
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  section.site-banner {

    h1 {
      font-size: 3rem;
    }

    p {
      font-size: 1.6rem;
    }

    .flex-container {
      right: 0;
      width: 750px;
      margin: 0 auto;
    }
  }

  .btn-block a {
    font-size: 1.3rem;
  }

  .scroll-down {
    height: 60px;

    a {
      font-size: 3.2rem;
    }
  }

  .testimonials {
    @include flex-row;
    @include flex-space-between;
  }

  .testimonial-item {
    width: 48%;

    &:first-child {
      width: 100%;
      flex-grow: 1;
    }
  }

  .contact-details {

    .flex-container {
      @include flex-row;
      @include flex-space-between;
    }
  }

  .contact-box {
    width: 32%;
  }

  .contact-form {

    .flex-container {
      @include flex-row;
    }
  }

  .form-control {
    width: 50%;

    &:first-child {
      padding-right: 20px;
    }

    > i {
      font-size: 1.4rem;
    }
  }

  .form-control input::-webkit-input-placeholder,
  .form-control textarea::-webkit-input-placeholder {
    font-size: 0.9rem;
  }

  section.insurance-logos {

    .insurance-img {

      &:nth-of-type(1) {
        width: 18%;
        margin-bottom: 30px;
      }

      &:nth-of-type(2) {
        width: 10%;
        margin-bottom: 30px;
      }

      &:nth-of-type(3) {
        width: 35%;
        margin-bottom: 30px;
      }

      &:nth-of-type(4) {
        width: 25%;
        margin-bottom: 30px;
      }

      &:nth-of-type(5) {
        width: 10%;
        margin-bottom: 30px;
      }

      &:nth-of-type(6) {
        width: 20%;
        margin-bottom: 0;
      }

      &:nth-of-type(7) {
        width: 30%;
        margin-bottom: 0;
      }

      &:nth-of-type(8) {
        width: 25%;
        margin-bottom: 0;
      }

      &:nth-of-type(9) {
        width: 10%;
        margin-bottom: 0;
      }

      &:nth-of-type(10) {
        width: 10%;
        margin-bottom: 0;
      }
    }
  }
}

/* Medium Screen Tablets */
@media (min-width: 992px) {
  body {
    font-size:  1rem;
  }

  .container {
    width: 970px;
  }

  .top-header {
    display: block;
    background: #B3E2EC;
    padding: 10px;

    .flex-container {
      @include flex-row;
      @include flex-space-between;
    }

    ul:last-child {
      @include flex-align-self-end;
    }

    li {
      display: inline-block;
      font-size: 1.1rem;
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }

      a {
        color: $primary-color;
        text-decoration: underline;

        &:hover {
          color: $tertiary-color;

          svg.svg--twitter-dims {
            fill: #166C9F;
          }
        }
      }

      svg {
        display: inline-block;
        width: 22px;
        height: 22px;
        fill: $dark-grey;
        vertical-align: middle;

        &.svg--twitter-dims {
          fill: $primary-color;
          @include transition-03;
        }
      }
    }
  }

  .main-header {
    padding-left: 0;
    padding-right: 0;

    a.logo {
      width: 28%;

      img {
        max-width: 65px;
      }

      small {
        font-size: 1.6rem;
      }
    }
  }

  .trigger-nav {
    display: none;
  }

  nav.site-nav {
    display: block;
    position: relative;
    text-align: right;
    z-index: 0;
    -webkit-box-shadow: none;
            box-shadow: none;

    a {
      display: inline-block;
      font-size: 1.1rem;
      padding: 0 10px;
      border-top: none;

      &:hover {
        color: $tertiary-color;
      }

      &.active::before {
        display: none;
      }

      &::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: -5px;
        left: 0;
        width: 0;
        height: 1px;
        background: $tertiary-color;
        margin: 0 auto;
        @include transition-03;
      }
    }
  }

  nav.site-nav a.active::after,
  nav.site-nav a:hover::after {
    width: calc(100% - 15px);
  }

  section.site-banner {
    height: 600px;
    margin-top: 140px;

    &.small--banner {
      height: 450px;
    }

    .flex-container {
      width: 970px;
    }
  }

  .btn-block a:hover {
    background: $primary-color;
    color: $white;
    border-color: $primary-color;
  }

  main.site-main .flex-container {
    @include flex-row;
    @include flex-space-between;
  }

  article.site-article {
    width: 67%;
    order: 2;

    a:hover {
      color: $tertiary-color;
    }
  }

  aside.site-sidebar {
    width: 28%;
    order: 1;
    @include flex-align-self-start;

    p {
      margin-top: 0;
    }

    .box a:hover {
      color: $tertiary-color;
    }

    .contact-box a:hover {
      color: #3d4652;
    }

    li {
      font-size: .95rem;
    }
  }

  .contact-form button {
    cursor: pointer;

    &:hover {
      background: $secondary-color;
    }
  }

  section.insurance-logos {

    .insurance-img {

      &:nth-of-type(1) {
        width: 8%;
        margin-bottom: 0;
      }

      &:nth-of-type(2) {
        width: 4%;
        margin-bottom: 0;
      }

      &:nth-of-type(3) {
        width: 15%;
        margin-bottom: 0;
      }

      &:nth-of-type(4) {
        width: 10%;
        margin-bottom: 0;
      }

      &:nth-of-type(5){
        width: 4%;
        margin-bottom: 0;
      }

      &:nth-of-type(6) {
        width: 9%;
      }

      &:nth-of-type(7) {
        width: 16%;
      }

      &:nth-of-type(8) {
        width: 11%;
      }

      &:nth-of-type(9) {
        width: 7%;
      }

      &:nth-of-type(10) {
        width: 5%;
      }
    }
  }


  .footer-item,
  .footer-item:first-child,
  .footer-item:last-child {
    width: 31%;
  }

  .footer-item {

    &:last-child {
      margin-bottom: 30px;
      flex-grow: 0;
    }
  }

  .footer-item a:hover,
  .bottom-footer a:hover {
    color: #ADA2A2;
  }

  .footer-social {

    .social-item {

      &:first-child {
        margin-right: 5px;
      }

      &:hover {
        color: #fff;
      }
    }
  }
}

/* Large Screen Tablets - Laptop - Desktop */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }

  .main-header {

    a.logo {
      width: 32%;

      small br {
        display: none;
      }
    }
  }

  section.site-banner .flex-container {
    width: 1170px;
  }
}
