header.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.top-header {
  display: none;
}

.main-header {
  position: relative;
  background: $white;
  padding: 15px;
  @include flex;
  @include flex-row;
  @include flex-space-between;
  @include flex-align-center;
  -webkit-box-shadow: 3px 4px 9px 0px rgba(0,0,0,0.15);
          box-shadow: 3px 4px 9px 0px rgba(0,0,0,0.15);

  a.logo {
    display: inline-block;
    color: $grey;

    img {
      max-width: 50px;
    }

    small {
      font-size: 1.1rem;
      font-weight: 500;
      line-height: 1;

      span {
        color: $secondary-color;
      }
    }
  }

  a.logo img,
  a.logo small {
    display: inline-block;
    vertical-align: middle;
  }

  nav {
    display: none;
  }
}

.trigger-nav {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  background: transparent;
  overflow: hidden;
  cursor: pointer;
  border: 0;
  -webkit-appearance: none;

  &:focus {
    outline: 0;
  }

  .inner {
    position: absolute;
    top: 50%;
    right: 0;
    width: 30px;
    height: 18px;
    margin: -9px 0 0 -9px;

    .icon-bar {
      position: absolute;
      left: 0;
      width: 30px;
      height: 1px;
      background: $secondary-color;
      @include transition-03;

      &.top {
        top: 0;
      }
      &.middle {
        top: 8px;
      }
      &.bottom {
        bottom: 0;
      }
    }
  }

  &.open-nav {

    .inner .icon-bar.top {
      top: 9px;
      @include transform(rotate(45deg));
    }

    .inner .icon-bar.middle {
      opacity: 0;
    }

    .inner .icon-bar.bottom {
      bottom: 8px;
      @include transform(rotate(-45deg));
    }
  }
}

nav.site-nav {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
  background: $white;
  margin: 0 auto;
  -webkit-box-shadow: 3px 4px 9px 0px rgba(0,0,0,0.15);
          box-shadow: 3px 4px 9px 0px rgba(0,0,0,0.15);

  a {
    position: relative;
    display: block;
    color: $blue-grey;
    font-size: 0.9rem;
    padding: 12px 20px;
    border-top: 1px solid $very-light-grey;

    &.active {
      color: $tertiary-color;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 3px;
        height: 100%;
        background: $tertiary-color;
      }
    }
  }
}
