.testimonials {
  margin: 30px 0;

  &.flex-container {
    flex-wrap: wrap !important;
  }
}

.testimonial-item {
  position: relative;
  background: #f7f7f7;
  padding: 20px 30px;
  margin-bottom: 50px;
  border-radius: 2px 2px 2px 0;

  &::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    border-style: solid;
    border-width: 0 28px 28px 0;
    border-color: transparent #ececec transparent transparent;
  }

  blockquote {

    svg {
      width: 30px;
      fill: $primary-color;
      margin-right: 15px;
      float: left;
    }
  }

  cite {
    margin: 0;

    b {
      color: $primary-color;
    }
  }
}
