.svg--angle-down-dims {
	width: 32px;
	height: 32px;
}

.svg--attention-dims {
	width: 32px;
	height: 32px;
}

.svg--call-dims {
	width: 32px;
	height: 32px;
}

.svg--checkmark-dims {
	width: 32px;
	height: 32px;
}

.svg--comment-dims {
	width: 32px;
	height: 32px;
}

.svg--facebook-dims {
	width: 32px;
	height: 32px;
}

.svg--home-dims {
	width: 32px;
	height: 32px;
}

.svg--maestro-dims {
	width: 32px;
	height: 19.2px;
}

.svg--mail-dims {
	width: 32px;
	height: 32px;
}

.svg--map-marker-dims {
	width: 32px;
	height: 32px;
}

.svg--mastercard-dims {
	width: 32px;
	height: 19.2px;
}

.svg--quotes-left-dims {
	width: 32px;
	height: 32px;
}

.svg--solo-dims {
	width: 32px;
	height: 19.2px;
}

.svg--switch-dims {
	width: 32px;
	height: 19.2px;
}

.svg--twitter-dims {
	width: 32px;
	height: 32px;
}

.svg--user-dims {
	width: 32px;
	height: 32px;
}

.svg--visa-dims {
	width: 32px;
	height: 19.2px;
}

